/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div#react-container, div#todo-app {
    width: 50%;
    float: left;
}
.profile, .todo-list {
    padding: 20px;
    text-align: center;
    background-color: #f7f7f7;
    /*box-shadow: 0px 0px 2px 0px dimgrey;*/
}
.todo-single {
    padding: 1px;
    background: #ffbaba;
    margin-bottom: 5px;
}
body{
	font-family: 'Titillium Web', sans-serif;
}

button, .submit-button {
    background: #6fd2ff;
    border: transparent;
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
    font-size: 12px;
}

button:hover, .submit-button:hover {
	opacity: 0.8;
}
input.post-input {
    height: 25px;
    width: 300px;
    padding: 2px;
}

@media only screen and (max-width : 800px) {
	div#react-container, div#todo-app {
	    width: 100%;
	    float: left;
	}
}
